<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zaelani.moviedbapp.favorite">

    <application tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".FavoriteActivity"
            android:exported="false" />
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_favorite">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>